body {
  background-color: #302e2b;
}

video {
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}
#black-sheet {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -2;
  background-color: rgb(0, 0, 0);
  /* opacity: 0; */
}
.fomr-container {
  width: 100%;
  height: 100vh;
}
.inputs {
  width: 100%;
  height: 55%;
}
.inputs input {
  width: 25%;
  height: 2.5rem;
  border-radius: 0.5rem;
  text-indent: 10px;
  background-color: rgba(146, 146, 146, 0.429);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 200;
  border: none;
  outline: none;
}
.inputs input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 200;
}
.inputs button {
  width: 10%;
  height: 15%;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(146, 146, 146, 0.429);
}
.inputs button:hover {
  font-size: 1.2rem;
  background-color: rgba(146, 146, 146, 0.805);
}
.settings {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

@media screen and (max-width: 786px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }

}
@media screen and (max-width: 636px) {
    .inputs input {
        width: 80%;
      }
      .inputs button {
        width: 20%;
      }

}
