.wood{
background-color: #b58863;
}
.cream{
background-color: #f0d9b5;
}

.green-black{
background-color: #739552;
}
.green-white{
background-color:white;
}

.blue-black{
background-color: #7a9db3;
}
.blue-white{
background-color: rgb(235, 240, 244);
}

.brown-black{
background-color: #b58863;
}
.brown-white{
background-color: #f0d9b5;
}

.purple-black{
background-color: #8929e4;
}
.purple-white{
background-color: white;
}
