.container{
    background-color: rgb(94, 83, 83);
    width: 20%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 0.5rem;
    
}
.msg{
    height: 30%;
    font-size: 2.5rem;
    font-weight: bold;
}
.btns{
    width: 90%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}